<div class="container-fluid fill-parent pic-background">
  <div class="container fill-parent">
    <div class="row align-items-center justify-content-center fill-parent">
      <md-card class="p-0 m-2 min-width">
        <md-toolbar color="primary">
          <md-toolbar-row>
            <span>Validación de email</span>
          </md-toolbar-row>
        </md-toolbar>
        <md-card-content class="py-4 px-3">
          <p>{{ message }}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>