<div class="container-fluid fill-parent pic-background">
  <div class="container fill-parent">
    <div class="row align-items-center justify-content-center fill-parent">
      <md-card class="p-0 m-2">
        <md-toolbar color="primary">
          <md-icon class="mr-3" (click)="goBack()">arrow_back</md-icon>
          <span>Recuperación de usuario</span>
        </md-toolbar>
        <md-card-content class="pt-4 px-3">
          <form>
            <md-input-container>
              <input mdInput 
                     type="email" 
                     name="user_email" 
                     [disabled]="showStageTwo" 
                     [(ngModel)]="user.email" 
                     (keyup.enter)="onPositiveClick()" 
                     placeholder="Email" 
                     required 
                     [errorStateMatcher]="myErrorStateMatcher">
              <md-error>Completa este campo, por favor</md-error>
            </md-input-container>

            <md-input-container *ngIf="showStageTwo">
              <input mdInput 
                     name="user_code" 
                     [(ngModel)]="user.code" 
                     (keyup.enter)="onPositiveClick()" 
                     placeholder="Código" 
                     required
                     [errorStateMatcher]="myErrorStateMatcher">
              <md-hint align="start">Encuentra este código en tu casilla de email</md-hint>
              <md-error>Completa este campo, por favor</md-error>
            </md-input-container>

            <md-input-container *ngIf="showStageTwo">
              <input mdInput 
                     type="password" 
                     name="user_pass" 
                     [(ngModel)]="user.password" 
                     (keyup.enter)="onPositiveClick()" 
                     placeholder="Nueva Contraseña" 
                     required
                     [errorStateMatcher]="myErrorStateMatcher">
              <md-error>Completa este campo, por favor</md-error>
            </md-input-container>
          </form>
        </md-card-content>

        <md-card-actions class="px-4 pb-4">
          <div class="row justify-content-end">
            <button md-button color="primary" (click)="goBack()">CANCELAR</button>
            <button md-button color="primary" class="mx-3" (click)="onPositiveClick()">{{ showStageTwo ? 'FINALIZAR' : 'ENVIAR' }}</button>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>