<div class="container-fluid fill-parent pic-background">
  <div class="container fill-parent">
    <div class="row align-items-center justify-content-center fill-parent">
      <md-card class="p-0 m-2">
        <md-toolbar color="primary">
          <md-toolbar-row>
            <span>Bienvenido!</span>
          </md-toolbar-row>
        </md-toolbar>
        <md-card-content class="pt-4 px-3">
          <form>
            <div class="col">
              <md-input-container>
                <input mdInput type="email" name="user_email" (keyup.enter)="attemptLogin()" [(ngModel)]="user.email" placeholder="Email" required>
              </md-input-container>

              <md-input-container>
                <input mdInput type="password" name="user_pass" (keyup.enter)="attemptLogin()" [(ngModel)]="user.password" placeholder="Contraseña" required>
              </md-input-container>
            </div>
          </form>

          <div class="row justify-content-between mt-2 px-4">
            <a [routerLink]="'/signup'">No tengo usuario</a>
            <a [routerLink]="'/user_recovery'">Olvidé mi contraseña</a>
          </div>
        </md-card-content>
        <md-card-actions class="px-5 pb-4">
          <div class="row justify-content-end">
            <button md-button color="primary" (click)="attemptLogin()">LOGIN</button>
          </div>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>