<div class="container-fluid fill-parent pic-background">
  <div class="container fill-parent">
    <div class="row align-items-center justify-content-center fill-parent">
      <md-card class="p-0 m-2">
        <md-toolbar color="primary">
          <span>404: Not Found</span>
        </md-toolbar>
        <md-card-content class="py-4 px-3">
          <p>La página que buscas no existe.</p>
          <p class="mat-caption text-muted">Si crees que debería estar aquí contacta a un administrador!</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>